h2{
    font-family: sans-serif;
    font-size: 40px;
    color: darkred
}
p{
    font-size: 27px;
    font-family: sans-serif;
}
figure{
    border: darkred double 15px;
    display: inline-block;
}
h3{
    font-family: sans-serif;
    font-size: 30px;
}