
#logo1{
    display: inline-block;
    width: 20%;
    float: left;
}
#logo2{
    display: inline-block;
    width: 20%;
}
#titulotexto{
    display: inline-block;
    width: 44%;
    color: dodgerblue;
    font-family:sans-serif
}
#barranav{
    clear: both;
}
.menu{
    display: inline-block;
    width: 15%;
    background-color:greenyellow;
    border: solid;
    border-color: black;
    font-family: sans-serif;
    text-align: center;
}
#marco{
    width: 100%;
    height: 600px;
    padding: 8px;
    background-color: lightgreen;
}
#pie{
    border: solid;
    background-color: greenyellow;
    text-align: center;
}
html{
    background-color: white
}